:root {
  font-family: var(--font-family);
  color: var(--color-text);
  background: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  background: var(--color-bg);
}

#root {
  min-height: 100vh;
}

button,
input,
select,
textarea {
  font: inherit;
}